@media (max-width: 1200px) { /* Laptops grandes */ }
@media (max-width: 992px)  { /* Tablets y laptops medianas */ }
@media (max-width: 768px)  { /* Tablets */ }
@media (max-width: 576px)  { /* Teléfonos */ }


/* --------------------------------------------------------------- */ 


@media (max-width: 768px)  {

    .cursor{

        display: none;

}

.iconos_code{

    padding: 6px;
}

.About_general_descripcion_cuadro_1{

    width: 100%;

}

.About_general_descripcion_cuadro_2{

    width: 100%;

}

.About_general_descripcion{
    width: 100%;

}



}



/* --------------------------------------------------------------- */ 


@media (max-width: 1200px) {
  .descripcion_cuadro {
   
    gap: 20px;

}

  .descripcion_cuadro:hover{

   transform: scale(1.0); /* Aumenta el tamaño al pasar el mouse */

}

  .Portfolio_linea{

    padding: 10px 10px;

}

.Contact_general_descripcion{

    width: 65%;

}

.heading{

    font-size: 35px;


}

}


/* --------------------------------------------------------------- */ 


@media (max-width: 500px)  {

        .iconos_codigo{

        gap: 5px;

    }



}



/* --------------------------------------------------------------- */ 

.navbar {
  display: none !important;
}

.nav-links {
  list-style: none;
}

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .lista_nav {
    display: none;
  }

  .navbar {
    display: block !important;
  }

  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #ff8bfabf;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
  }

  .nav-links.active {
    max-height: 300px; /* Ajusta según la cantidad de elementos */
  }

  .nav-links li {
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #e26ce3;
  }

  .nav-links li:hover {
    background-color: #090a1a;
    cursor: pointer;
  }
}




























































































