*{

margin: 0px;
border: 0px;
font-family: 'Poppins', sans-serif;

}

/* Para navegadores basados en WebKit (Chrome, Edge, Opera, Safari) */
::-webkit-scrollbar {
  width: 6px; /* ancho de la barra */
}

::-webkit-scrollbar-track {
  background: #0b0c1b; /* fondo de la pista del scroll */
}

::-webkit-scrollbar-thumb {
  background-color: #1a1b2e; /* color del "pulgador" */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2b2c3d; /* color al pasar el mouse */
}


hr {
  border: none;
  height: 2px;
  background-color: #333; /* color de la línea */
  margin: 20px 0; /* espacio arriba y abajo */

}

.cursor {
    
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 1000;
    border: 1px solid #fff;
    transition: all 0.2s ease-out;
    animation: moveCursor1 .5s infinite alternate;
}

.expand {
    background: transparent;
    animation: moveCursor2 .5s forwards;
    border: 1px solid #ff8bfa;
}

@keyframes moveCursor1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.8);
    }
}

@keyframes moveCursor2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.5);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}


p{

    font-size: 0.938rem;
    text-align: center;
    color: white;

}

h2,h3{

    color: white;

}


#nav_general{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}


#nav_general.scrolled{

background-color: #0d0f26;



}

.nav_general_2{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    color: white;
    margin: auto;
    max-width: 1400px;
    margin: auto;


}

#nombre{

    color: #ff8bfa;
    font-size: 30px;

}

.linea_horizontal{

    width: 30px;
    height: 2px;
    background: #ff8bfa;
    margin-left: 10px;
    margin-right: 10px;


}


.lista_nav{

    display: flex;
    align-items: center;

}


.lista_nav_ob{

    display: flex;
    padding: 10px 20px;

}


.lista_nav_ob:hover{

    background-color: #ff8bfa;
    color: #0d0f26;
    cursor: pointer;
    transition: 0.3s all linear;


}

.home_general{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #090a1a;
    gap: 15px;
    padding: 180px 10px 30px 10px;

}



.iconos_codigo{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

.iconos_code{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: white;
    border-radius: 10px;

}



.home_img{

    display: flex;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin-bottom: 30px;

    border: 1px solid #ff8bfa;
    background-image: url('../Img/perfil.jpeg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}




.home_redes{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;

}

.home_redes_ti{

    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0c0d21;
    border-radius: 100%;
    text-decoration: none!important;

}


.home_redes_ti:hover{

    background-color: #ff8bfa;
    color: white;
    cursor: pointer;
    transition: 0.3s all linear;
}

.About_general{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #090a1a;
    gap: 15px;
    padding: 50px 30px;

}



.Services_general{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #090a1a;
    gap: 15px;
    padding: 50px 30px;

}



.Portfolio_general{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #090a1a;
    gap: 15px;
    padding: 50px 30px;

}



.Contact_general{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #090a1a;
    gap: 15px;
    padding: 50px 30px;

}

.footer_general{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #090a1a;
    gap: 15px;
    padding: 50px 30px;
    
}


.heading{

    font-size: 5rem;
    text-transform: uppercase;
    color: #222231;
    text-align: center;
    margin-bottom: 2rem;

}


.About_general_descripcion{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}

.Services_general_descripcion{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;

}

.Portfolio_general_descripcion{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}

.Contact_general_descripcion{

    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}


.About_general_descripcion_cuadro_1{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 20px 20px;
    gap: 20px;
    

}


.About_general_descripcion_cuadro_2{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 20px 20px;
    gap: 20px;
  
    
}

.boton_estilo_1{

    display: flex;
    width: 200px;
    align-items: center;
    color: white;
    background: #ff8bfa;
    padding: 15px 0px;
    border-radius: 0.4rem;
    margin-top: 1rem;
    justify-content: center;

}


.boton_estilo_1:hover{

    transition: 0.1s all linear;
    cursor: pointer;
    background: #fd7df7;
    
}


.descripcion_cuadro{

    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    width: 300px;
    align-items: center;
    background-color: #222231;
    gap: 15px;
    border-radius: 0.4rem;
    transition: transform 0.3s ease;

}


.descripcion_cuadro:hover{

   transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
   background-color: #1b1b27;
   cursor: pointer;

}

.circulo_icon{

    display: flex;
    padding: 10px 10px;
    color: #ffffff;
    border: dashed white 1px;
    border-radius: 100%;
    justify-content: center;
    align-content: center;

}


.Portfolio_linea{

    display: flex;
    padding: 20px 10px;
    width: 500px;
    background-color: #647bff00;
    flex-direction: column;
    gap: 20px;

}


.Portfolio_cuadro{

    display: flex;
    width: 464;
    height: 320px;
    background-color: #222231;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1rem;
    
}


.input_portafolio_text{

    display: flex;
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 15px;
    color: white;
    background: #0d0f26;
    border-radius: 0.4rem;


}


.input_portafolio_textarea{

    display: flex;
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 15px;
    color: white;
    background: #0d0f26;
    border-radius: 0.4rem;


}








.Portfolio_cuadro {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Barrido */
.Portfolio_cuadro::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0d0f2646;
  transition: top 0.3s ease;
  z-index: 1;
}

.Portfolio_cuadro:hover::before {
  top: 0;
}

/* Contenido principal */
.Portfolio_cuadro p {
  position: relative;
  z-index: 2;
  font-size: 20px;
  color: white;
}

/* Icono */
.icono-ojo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 24px;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Mostrar el ícono al hacer hover */
.Portfolio_cuadro:hover .icono-ojo {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}


.notificacion_contacto{

    display: flex;
    position: fixed;
    width: 100%;
    background-color: #ff8bfa;
    color: #ffffff;
    padding: 15px;
    border: 1px solid #a58da4;
}




















































    /* Estilo para el fondo oscuro al abrir la galería */
    .lightbox {
      display: none;
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.8);
      justify-content: center;
      align-items: center;
      z-index: 999;
    }

    /* Contenedor de la imagen */
    .lightbox-content {
      position: relative;
      background-color: white;
      padding: 10px;
      border-radius: 10px;
    }

    .lightbox-content img {
      max-width: 100%;
      max-height: 650px;
      display: block;
      margin: auto;
    }

    /* Botones de navegación */
    .nav-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 30px;
      color: black;
      background: rgba(255, 255, 255, 0.8);
      border: none;
      cursor: pointer;
      padding: 10px;

    }

    .prev {
      left: -100px;
    }

    .next {
      right: -100px;
    }